/* extends */
.btn-close, .button, .button-sec, .button-tri {
  background-color: #4ad295;
  border: 2px solid #4ad295;
  padding: 8px;
  text-decoration: none; }

.text-main, .text-sec {
  text-align: center;
  font-weight: bold; }

.price {
  font-weight: bold;
  color: #4ad295; }

/* mixin */
* {
  margin: 0;
  padding: 0; }

/*  nav bar */
body {
  background-color: #000000; }
  body .header .navbar {
    background-color: #000000; }
    body .header .navbar .container-fluid .navbar-brand {
      color: #4ad295;
      border-top: #4ad295 2px solid;
      border-bottom: #4ad295 2px solid; }
    body .header .navbar .container-fluid .navbar-toggler {
      background-color: #4ad295; }
    body .header .navbar .container-fluid .collapse {
      flex-grow: initial; }
      body .header .navbar .container-fluid .collapse .navbar-nav li:last-child {
        background-color: #4ad295;
        border: 2px solid #4ad295;
        border-radius: 10px; }
      body .header .navbar .container-fluid .collapse .navbar-nav .nav-link {
        color: #fff;
        font-size: 14px;
        transition: 1s; }
        body .header .navbar .container-fluid .collapse .navbar-nav .nav-link:hover {
          border-bottom: #1eff00;
          background: #4ad295;
          border-radius: 10px;
          box-shadow: 0 0 10px #4ad295, 0 0 40px #4ad295, 0 0 80px #4ad295;
          color: #000; }

/* main */
.main {
  background-image: url(../imagenes/ladrillos.jpg);
  width: 90%;
  display: flex;
  margin: 0 auto 60px;
  border: 2px solid #4ad295;
  border-radius: 10px;
  background-repeat: repeat; }
  .main div {
    margin-bottom: 10px; }

.main__img {
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
  display: block;
  border: 2px solid #4ad295;
  border-radius: 10px; }

img {
  border-radius: 10px; }

.img-g img {
  border: 2px solid #4ad295;
  box-shadow: 0 0 10px #4ad295;
  margin-bottom: 25px;
  width: 100%; }

.titulo {
  background-color: #4ad2955c;
  color: #000000; }

.parrafo {
  background-color: #4ad2955c;
  color: #000000; }

/* active */
.active {
  border-bottom: 1px solid #1eff00;
  border-top: 1px solid #1eff00;
  width: fit-content; }

/* footer */
.color-2 {
  color: #4ad295; }

.cont-link {
  display: flex;
  flex-direction: column;
  padding: 10px; }

a {
  text-decoration: none;
  margin: 5px; }

footer {
  border-top: 1px solid #fff; }
  footer div {
    padding: .5rem;
    color: #fff; }

/* texto main */
.text-main {
  font-size: 50px;
  font-family: "Roboto"; }

.text-sec {
  font-size: 26px;
  font-family: "Poppins"; }

@media screen and (max-width: 380px) {
  .map {
    width: 280px; } }

/* pag nosotros */
.container-nos div {
  color: #fff;
  text-align: center;
  margin: 10px; }

.container-nos button {
  display: grid;
  margin: 0 auto;
  margin-bottom: 3rem; }

.offcanvas {
  background-color: #000000; }

/*  pag galeria */
.cont-img {
  margin: 3rem; }

/* pag contacto */
.cont-title {
  color: #fff;
  text-align: center;
  margin-bottom: 10px; }

.field {
  margin-bottom: 10px; }

/* pagina carta */
.card {
  background-color: #000000;
  color: #fff;
  margin-bottom: .5rem;
  margin-right: .5rem;
  max-width: 450px; }

.cont-button {
  display: flex;
  justify-content: center; }

.img-fluid {
  margin-top: 3rem; }

/* pag carta */
.cont-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.card-body {
  height: 280px; }

label {
  color: #4ad295; }

.form-r {
  border: 2px solid #4ad295;
  width: 70%;
  display: flex;
  margin: 0 auto;
  margin-bottom: 60px; }
  .form-r input {
    border: 2px solid #4ad295; }
  .form-r select {
    border: 2px solid #4ad295; }

.card {
  border: 2px solid #4ad295; }
  .card .card-body h5 {
    border-bottom: 2px solid #4ad295;
    width: fit-content; }

/* extends */
.btn-close, .button, .button-sec, .button-tri {
  background-color: #4ad295;
  border: 2px solid #4ad295;
  padding: 8px;
  text-decoration: none; }

.text-main, .text-sec {
  text-align: center;
  font-weight: bold; }

.price {
  font-weight: bold;
  color: #4ad295; }

/* mixin */
/* extends */
.btn-close, .button, .button-sec, .button-tri {
  background-color: #4ad295;
  border: 2px solid #4ad295;
  padding: 8px;
  text-decoration: none; }

.text-main, .text-sec {
  text-align: center;
  font-weight: bold; }

.price {
  font-weight: bold;
  color: #4ad295; }

/* mixin */
.btn-close {
  color: #fff; }

.button {
  border-radius: 10px;
  color: #000;
  transition: 1s; }
  .button:hover {
    color: #fff;
    box-shadow: 0 0 10px #4ad295, 0 0 40px #4ad295;
    border: 1px #000 solid; }

.button-sec {
  border-radius: 2px;
  color: #fff;
  transition: 0.5s; }
  .button-sec:hover {
    color: #fff;
    box-shadow: 0 0 10px #4ad295, 0 0 40px #4ad295;
    border: 1px #000 solid; }

.button-tri {
  border-radius: 10px;
  color: #000000;
  transition: 0.5s; }
  .button-tri:hover {
    color: #fff;
    box-shadow: 0 0 10px #4ad295, 0 0 40px #4ad295;
    border: 1px #000 solid; }
