.titulo{
    background-color: #4ad2955c;
}
.parrafo{
    background-color: #4ad2955c;
}
.nav-link{
    color: azure;
    font-size: 14px;
    overflow: hidden;
    transition: 1s;
}

.navbar-collapse{
    flex-grow: initial;
}

.nav-link:hover {
    
    border-bottom: #4ad295 1px solid;
    background: #4ad295;
    border-radius: 10px;
    box-shadow: 0 0 10px #4ad295, 0 0 40px #4ad295, 0 0 80px #4ad295;
    color: black;
}

.navbar-nav li:last-child{
    background-color: #4ad295;
    border: 2px solid #4ad295;
    border-radius: .2rem;
}

.navbar-nav li:last-child:hover{
    background: transparent;
    border: 2px solid #4ad295;
}

.navbar-brand {
    color: #4ad295;
    font-weight: bold;
    border-bottom: #4ad295 2px solid;
    border-top: #4ad295 2px solid;
}
.main {
    background-image: url(./imagenes/ladrillos1-2d4aa5b6290aeb196716165171606538-1024-1024.jpg);
    background-repeat: no-repeat;
    width: 90%;
    display: flex;
    margin: 0 auto 60px;
    border: 2px solid #4ad295;
    background-repeat: repeat;
}

.main__img {
    width: 80%;
    margin: auto;
    margin-bottom: 2rem;
    display: block;
    border: 2px solid #4ad295;
}

.img-g img{
    border: #4ad295 1px solid;
    box-shadow: 0 0 10px #4ad295;
}

.card{
    border: #4ad295 1px solid;
}

.btn {
    background: #4ad295;
    transition: 1s;
    color: #fff;
    
}
.btn:hover {
    color: #fff;
}

.card-body h5{
    border-bottom: #4ad295 1px solid;
    width: fit-content;
}

.text-cont{
    color: #4ad295;
}
.cont-input input{ 
    border: #4ad295 2px solid;
}
.cont-input textarea{
    border: #4ad295 2px solid;
}

.offcanvas-title{
    border-bottom: #4ad295 1px solid;
}

.form-r{
    border: #4ad295 1px solid;
    width: 70%;
    display: flex;
    margin: 0 auto 60px;
    
}

.form-r input{
    border: #4ad295 2px solid;
}

.form-r select{
    border: #4ad295 2px solid;
}
.active{
    border-bottom: #1eff00 1px solid;
    border-top: #1eff00 1px solid;
}

.color-2{
    color: #4ad295;
}