.form-r{
    border: $border;
    width: 70%;
    display: flex;
    margin: $center ;
    margin-bottom: 60px;
    input{
        border: $border;
    }
    select{
        border: $border;
    }
}




/* .form-r{
    border: #4ad295 1px solid;
    width: 70%;
    display: flex;
    margin: 0 auto 60px;
    
}

.form-r input{
    border: #4ad295 2px solid;
}

.form-r select{
    border: #4ad295 2px solid;
} */