$center: 0 auto;
$b-radius: 4px;
$border: 2px solid #4ad295;
$border-active: 1px solid #1eff00;

$colores: (
    "color-primary": #4ad295,
    "color-secondary":#1eff00,
    "color-link": #fff,
    "color-hover":#000,
    "color-op":#4ad2955c,
);